@media (max-width: 1050px) {

  .frame-69 h3,
  .fullscreen h3 {
    font-size: 40px;
  }

  .frame-69 h2,
  .fullscreen h2 {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .frame-69 {
    display: none;
  }

  .frame-69.fullscreen {
    /* Override für die ersten 2 s */
    display: flex !important;
  }

  .main-summary {
    left: 150px;
  }

  .header-container {
    padding-left: 50px;
  }
}

@media (max-width: 800px) {

  .header-container {
    padding-left: 0;
  }

  summary {
    display: flex;
    align-items: center;
    position: unset;
    margin: 0;
  }

  .main-summary {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0;
    margin-top: 0;
  }

  .frame-71 {
    min-width: 360px;
    gap: 20px;
    height: unset;
  }

  .frame-64 h3 {
    font-size: 40px;
  }

  .frame-64,
  .frame-65,
  .urgency-summary-v1 {
    gap: 20px;
  }

  .frame-64 div,
  .urgency-summary-v1,
  .cr-button-v1,
  .pr-button-v1 {
    height: 106.6px;
  }

  .userLinkContainer {
    height: 80px;
    width: 100%;
    left: 0;
    display: flex;
    position: absolute;
    align-items: center;
  }

  .userLinkOptions {
    top: 80px;
  }
}

@media (max-width: 480px) {
  summary {
    width: 390px;
  }

  .summary-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  summary {
    width: 310px;
    align-items: flex-start;
  }

  .frame-71 {
    min-width: 310px;
    box-sizing: border-box;
    height: unset;
    gap: 10px;
  }

  .frame-40 {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .frame-40-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }

  .frame-40-vektor {
    height: 0px;
    width: 90px;
  }

  .frame-64,
  .frame-65,
  .urgency-summary-v1 {
    gap: 10px;
  }

  .frame-64 div {
    width: 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}